/* ==========================
   Website Animations
========================== */


/* Fade In */

@keyframes fadeIn {

    from {

        opacity: 0;
        transform: translateY(20px);

    }


    to {

        opacity: 1;
        transform: translateY(0);

    }

}



.hero-content,
.challenge-card,
.learn-card,
.progress-card,
.about-box,
#carbonForm,
#quizForm,
#contactForm {

    animation: fadeIn 0.8s ease;

}



/* Button Animation */


button {

    transition: transform 0.3s ease;

}



button:hover {

    transform: scale(1.05);

}



/* Card Hover */


.challenge-card,
.learn-card,
.progress-card,
.about-box {

    transition: transform 0.3s ease;

}



.challenge-card:hover,
.learn-card:hover,
.progress-card:hover,
.about-box:hover {

    transform: translateY(-8px);

}