/* ==========================
   Dark Mode
========================== */


body.dark {

    background-color: #121212;
    color: white;

}



body.dark header {

    background-color: #1B1B1B;

}



body.dark .navbar {

    background-color: #1B1B1B;

}



body.dark .nav-links a {

    color: white;

}



body.dark section {

    background-color: #121212;

}



body.dark .hero,
body.dark #learn-hero,
body.dark #challenge-hero,
body.dark #calculator-hero,
body.dark #quiz-hero,
body.dark #progress-hero,
body.dark #about-hero,
body.dark #contact-hero {

    background-color: #1B1B1B;

}



body.dark .challenge-card,
body.dark .learn-card,
body.dark .progress-card,
body.dark .about-box,
body.dark #carbonForm,
body.dark #quizForm,
body.dark #contactForm,
body.dark .resource-box {

    background-color: #242424;
    color: white;

}



body.dark p,
body.dark label,
body.dark li {

    color: #dddddd;

}



body.dark h1,
body.dark h2,
body.dark h3 {

    color: #81C784;

}



body.dark input,
body.dark textarea {

    background-color: #333;
    color: white;
    border: 1px solid #555;

}