/* ==========================
   Responsive Design
========================== */


/* Tablets */

@media (max-width: 900px) {


    .nav-links {

        flex-wrap: wrap;
        justify-content: center;

    }


    .navbar {

        flex-direction: column;
        gap: 20px;

        padding: 20px;

    }



    .hero h1 {

        font-size: 45px;

    }



    .learn-grid,
    #progress-dashboard {

        flex-direction: column;
        align-items: center;

    }


}



/* Mobile Phones */

@media (max-width: 600px) {


    .logo {

        font-size: 20px;

    }



    .nav-links {

        flex-direction: column;
        gap: 15px;
        text-align: center;

    }



    .hero {

        height: auto;
        padding: 80px 20px;

    }



    .hero h1 {

        font-size: 35px;

    }



    .hero p {

        font-size: 16px;

    }



    #learn-hero h2,
    #calculator-hero h2,
    #quiz-hero h2,
    #progress-hero h2,
    #about-hero h2,
    #contact-hero h2 {

        font-size: 30px;

    }



    .challenge-card,
    .learn-card,
    .progress-card {

        width: 90%;

    }



    #carbonForm,
    #quizForm,
    #contactForm {

        width: 90%;
        padding: 25px;

    }



    button {

        width: 100%;

    }


}